#header
  h1
    a
      :text-decoration none
      :color black

.main
  :text-align left

#footer
  a
    :color black
    :font-weight bold
  ul
    li
      :display inline
      :list-style none

#index
  ul.days
    li
      :display inline

  .source
    :text-align center
    :font-weight bold
    a
      :color black

#ranking
  ul.apps
    :margin auto
    :width 800px
    :border-bottom dotted 5px #FF3333
    li
      :border-top dotted 5px #FF3333
      :list-style none
      :clear both
      :margin-top 10px
      :min-height 100px

      .image
        :float left
        :margin-right -100%
        :width 120px
        :text-align center
        img
          :margin-top 10px
      .text
        margin-left: 120px
        margin-bottom: 20px
        h2
          :font-size 20px
          .rank
            :font-size 15px
          .user
            :font-size 15px
          .by
            :font-size 12px
    li.rank_1
      :border-top none
      .text
        h2
          .rank
            :padding-left 30px
            :background-repeat no-repeat
            :background-image URL(/images/rank_1.gif)
    li.rank_2
      .text
        h2
          .rank
            :padding-left 30px
            :background-repeat no-repeat
            :background-image URL(/images/rank_2.gif)
    li.rank_3
      .text
        h2
          .rank
            :padding-left 30px
            :background-repeat no-repeat
            :background-image URL(/images/rank_3.gif)
  .navi
    :text-align center
    :font-size 20px
    :margin-top 20px
